[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = Creating dummy repo
[access "refs/*"]
	owner = group user/Sandesh Shetty (sandesh2026)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Sandesh Shetty (sandesh2026)
	label-Verified = -1..+1 group user/Sandesh Shetty (sandesh2026)
	push = group user/Sandesh Shetty (sandesh2026)
	read = group user/Sandesh Shetty (sandesh2026)
	rebase = group user/Sandesh Shetty (sandesh2026)
	removeReviewer = group user/Sandesh Shetty (sandesh2026)
	submit = group user/Sandesh Shetty (sandesh2026)
[access "refs/heads/*"]
	create = group user/Sandesh Shetty (sandesh2026)
	push = +force group user/Sandesh Shetty (sandesh2026)
	pushMerge = group user/Sandesh Shetty (sandesh2026)
	read = group user/Sandesh Shetty (sandesh2026)
[access "refs/tags/*"]
	push = group user/Sandesh Shetty (sandesh2026)
	push = +force group user/Sandesh Shetty (sandesh2026)
